body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #10214b;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbar-collapse .nav-links {
    margin: 0 auto;
}

.search {
    background-color: #fdfff7;
    color: #000;
}

.login {
    background-color: #4176fc;
    color: #000;
}

.signup {
    background-color: #10214b;
    color: #fff;
}

.btn-lg {
    text-decoration: none;
    background-color: #10214b;
    color: #fff;
    width: 300px;
    font-size: 2rem;
    font-family: 'Garamond', serif;
}

.welcome {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #10214b;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    background: linear-gradient(45deg, #4176fc, #fdfff7);
}

section h2 {
    color: #fff;
    text-align: center;
    margin-top: 2rem;
}

.product {
    background-color: #fdfff7;
}

.product img {
    height: 400px;
    object-fit: cover;
}

footer {
    background-color: #201f24;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}