body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
}

.nav-links ul {
    display: flex;
    gap: 2rem;
}
@media (max-width: 768px) {
    .nav-links ul {
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
    }
}

.welcome {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    background-color: #05122c;
}

.product img {
    height: 400px;
    object-fit: cover;
}

footer {
    background-color: #05122c;
    color: white;
    text-align: center;
    padding: 1rem 0;
}